<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Human Welfare - Fundraising and Charity HTML Template | Our Shop</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header">
    	<!-- Header Top -->
    	<div class="header-top">
        	<div class="auto-container">
            	<div class="clearfix">
                    
                    <!--Top Left-->
                    <div class="top-left">
                    	<ul class="clearfix">
                        	<li><span class="icon flaticon-technology"></span>+12345 06 789</li>
                            <li><span class="icon flaticon-note"></span>mail@humanwelfare.com</li>
                        </ul>
                    </div>
                    
                    <!--Top Right-->
                    <div class="top-right">
                    
                    	<!--social-icon-->
                        <div class="social-icon">
                        	<a href="#"><span class="fa fa-facebook"></span></a>
                            <a href="#"><span class="fa fa-youtube-play"></span></a>
                            <a href="#"><span class="fa fa-linkedin"></span></a>
                            <a href="#"><span class="fa fa-instagram"></span></a>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                        </div>
                        
                        
                    </div>
                    
                </div>
                
            </div>
        </div><!-- Header Top End -->
        
        
        <!-- Main Box -->
    	<div class="main-box">
        	<div class="auto-container">
            	<div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="#">Home</a>
                                    	<ul>
                                            <li><a href="index.html">Homepage One</a></li>
                                            <li><a href="index-2.html">Homepage Two</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">About Us</a>
                                    	<ul>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="our-team.html">Our Team</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Causes</a>
                                    	<ul>
                                            <li><a href="causes.html">Our Causes</a></li>
                                            <li><a href="single-cause.html">Single Cause</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Events</a>
                                    	<ul>
                                            <li><a href="events.html">Our Events</a></li>
                                            <li><a href="single-event.html">Event Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Pages</a>
                                    	<ul>
                                            <li><a href="donate.html">Donate Now</a></li>
                                            <li><a href="volunteer.html">Volunteer</a></li>
                                            <li><a href="faqs.html">FAQs</a></li>
                                            <li><a href="error-page.html">404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li class="current dropdown"><a href="#">Shop</a>
                                    	<ul>
                                            <li><a href="shop.html">Our Shop</a></li>
                                            <li><a href="shop-single.html">Shop Single</a></li>
                                            <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Blog</a>
                                    	<ul>
                                            <li><a href="blog.html">Our Blog</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                    
                                 </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                        
                    </div><!--Nav Outer End-->
                    
                    <!-- Hidden Nav Toggler -->
                    <div class="nav-toggler">
                    <button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                    </div><!-- / Hidden Nav Toggler -->
                    
            	</div>    
            </div>
        </div>
    
    </header>
    <!--End Main Header -->
    
    
    <!-- Hidden Navigation Bar -->
    <section class="hidden-bar right-align">
        
        <div class="hidden-bar-closer">
            <button class="btn"><i class="fa fa-close"></i></button>
        </div>
        
        <!-- Hidden Bar Wrapper -->
        <div class="hidden-bar-wrapper">
        
            <!-- .logo -->
            <div class="logo text-center">
                <a href="index.html"><img src="images/logo-2.png" alt=""></a>			
            </div><!-- /.logo -->
            
            <!-- .Side-menu -->
            <div class="side-menu">
            <!-- .navigation -->
                <ul class="navigation">
                    <li class="dropdown"><a href="#">Home</a>
                        <ul>
                            <li><a href="index.html">Homepage One</a></li>
                            <li><a href="index-2.html">Homepage Two</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">About Us</a>
                        <ul>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="our-team.html">Our Team</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Causes</a>
                        <ul>
                            <li><a href="causes.html">Our Causes</a></li>
                            <li><a href="single-cause.html">Single Cause</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Events</a>
                        <ul>
                            <li><a href="events.html">Our Events</a></li>
                            <li><a href="single-event.html">Event Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Pages</a>
                        <ul>
                            <li><a href="donate.html">Donate Now</a></li>
                            <li><a href="volunteer.html">Volunteer</a></li>
                            <li><a href="faqs.html">FAQs</a></li>
                            <li><a href="error-page.html">404 Page</a></li>
                        </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="current dropdown"><a href="#">Shop</a>
                        <ul>
                            <li><a href="shop.html">Our Shop</a></li>
                            <li><a href="shop-single.html">Shop Single</a></li>
                            <li><a href="shopping-cart.html">Shopping Cart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Blog</a>
                        <ul>
                            <li><a href="blog.html">Our Blog</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div><!-- /.Side-menu -->
        
            <div class="social-icons">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        
        </div><!-- / Hidden Bar Wrapper -->
    </section>
    <!-- / Hidden Bar -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/bg-page-title-1.jpg);">
        <div class="auto-container">
            <h1>Shop</h1>
            <div class="bread-crumb-outer">
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Shop</li>
                </ul>
            </div>
        </div>
    </section>
    
    
    <!--Shop Single-->
    <div class="shop-single">
    	<div class="auto-container">
    		<!--Product Details Section-->
            <section class="product-details">
                <!--Basic Details-->
                <div class="basic-details">
                    <div class="row clearfix">
                        <div class="image-column col-md-5 col-sm-5 col-xs-12">
                            <figure class="image-box"><a href="images/resource/products/image-9.jpg" class="lightbox-image" title="Image Caption Here"><img src="images/resource/products/image-9.jpg" alt=""></a></figure>
                        </div>
                        <div class="info-column col-md-7 col-sm-7 col-xs-12">
                            <div class="details-header">
                                <h4>PRODUCT TITLE</h4>
                                <div class="rating"><span class="txt">RATINGS</span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-half-empty"></span> <span class="fa fa-star-o"></span> <span class="fa fa-star-o"></span></div>
                                <div class="item-price">$ 36.00</div>
                            </div>
                            
                            <div class="text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</div>
                            <div class="availablity">AVAILABILITY: In stock</div>
                            <div class="item-categories">CATEGORIES:&ensp; <a href="#">MENS JACKET</a>, <a href="#">WINTER JACKET</a></div>
                            
                            <div class="clearfix">
                                <div class="item-quantity"><div class="quantity-spinner"><button type="button" class="minus"><span class="fa fa-minus"></span></button><input type="text" name="product" value="2" class="prod_qty" /><button type="button" class="plus"><span class="fa fa-plus"></span></button></div></div>
                                <button type="button" class="theme-btn btn-style-three add-to-cart"><span class="icon icon-left fa fa-shopping-cart"></span> Add To Cart </button>
                            </div>
                            
                        </div>
                    </div>
                </div><!--Basic Details-->
                
                
                <!--Product Info Tabs-->
                <div class="product-info-tabs">
                    
                    <!--Product Tabs-->
                    <div class="prod-tabs tabs-box" id="product-tabs">
                    
                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#prod-description" class="tab-btn active-btn">Product description</li>
                            <li data-tab="#prod-reviews" class="tab-btn">Reviews (02)</li>
                        </ul>
                        
                        <!--Tabs Content-->
                        <div class="tabs-container tabs-content">
                            
                            <!--Tab / Active Tab-->
                            <div class="tab active-tab" id="prod-description">
                                <h3>PRODUCT DESCRIPTION</h3>
                                <div class="content">
                                    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.   </p>
                                </div>
                            </div>
                            
                            <!--Tab-->
                            <div class="tab" id="prod-reviews">
                                <h3>2 Reviews Found</h3>
                                
                                <!--Reviews Container-->
                                <div class="reviews-container">
                                    
                                    <!--Reviews-->
                                    <article class="review-box clearfix">
                                        <figure class="rev-thumb"><img src="images/resource/author-thumb-1.jpg" alt=""></figure>
                                        <div class="rev-content">
                                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-o"></span></div>
                                            <div class="rev-info">Admin – April 03, 2016: </div>
                                            <div class="rev-text"><p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis</p></div>
                                        </div>
                                    </article>
                                    
                                    <article class="review-box clearfix">
                                        <figure class="rev-thumb"><img src="images/resource/author-thumb-2.jpg" alt=""></figure>
                                        <div class="rev-content">
                                            <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star-o"></span> <span class="fa fa-star-o"></span></div>
                                            <div class="rev-info">Ahsan – April 01, 2016: </div>
                                            <div class="rev-text"><p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis</p></div>
                                        </div>
                                    </article>
                                    
                                </div>
                                
                                <!--Add Review-->
                                <div class="add-review">
                                    <h3>Add a Review</h3>
                                    
                                    <form method="post" action="shop-single.html">
                                        <div class="row clearfix">
                                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                                <label>Name *</label>
                                                <input type="text" name="name" value="" placeholder="" required>
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                                <label>Email *</label>
                                                <input type="email" name="email" value="" placeholder="" required>
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                                <label>Website *</label>
                                                <input type="text" name="website" value="" placeholder="" required>
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                                <label>Rating </label>
                                                <div class="rating">
                                                    <a href="#" class="rate-box" title="1 Out of 5"><span class="fa fa-star"></span></a>
                                                    <a href="#" class="rate-box" title="2 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                    <a href="#" class="rate-box" title="3 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"> </span> <span class="fa fa-star"></span></a>
                                                    <a href="#" class="rate-box" title="4 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                    <a href="#" class="rate-box" title="5 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <label>Your Review</label>
                                                <textarea name="review-message"></textarea>
                                            </div>
                                            <div class="form-group text-right col-md-12 col-sm-12 col-xs-12">
                                                <button type="button" class="theme-btn btn-style-three">Add Review</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                
                <!--Related Products-->
                <div class="related-products">
                    <div class="normal-title"><h3>Related Products</h3></div>
                    
                    <div class="row clearfix">
                        
                        <!--Default Shop Item-->
                        <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="shop-single.html"><img src="images/resource/products/image-1.jpg" alt=""></a></figure>
                                    <div class="prod-options">
                                        <a class="lightbox-image option-btn" href="images/resource/products/image-1.jpg" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                        <a class="option-btn" href="shop-single.html"><span class="fa fa-shopping-cart"></span></a>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="shop-single.html">PRODUCT TITLE</a></h3>
                                    <div class="price"><span class="price-txt">$ 24.00</span></div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Default Shop Item-->
                        <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="shop-single.html"><img src="images/resource/products/image-2.jpg" alt=""></a></figure>
                                    <div class="prod-options">
                                        <a class="lightbox-image option-btn" href="images/resource/products/image-2.jpg" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                        <a class="option-btn" href="shop-single.html"><span class="fa fa-shopping-cart"></span></a>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="shop-single.html">PRODUCT TITLE</a></h3>
                                    <div class="price"><span class="price-txt">$ 36.00</span></div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Default Shop Item-->
                        <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="shop-single.html"><img src="images/resource/products/image-3.jpg" alt=""></a></figure>
                                    <div class="prod-options">
                                        <a class="lightbox-image option-btn" href="images/resource/products/image-3.jpg" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                        <a class="option-btn" href="shop-single.html"><span class="fa fa-shopping-cart"></span></a>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="shop-single.html">PRODUCT TITLE</a></h3>
                                    <div class="price"><span class="price-txt">$ 245.00</span></div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Default Shop Item-->
                        <div class="default-shop-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="shop-single.html"><img src="images/resource/products/image-4.jpg" alt=""></a></figure>
                                    <div class="prod-options">
                                        <a class="lightbox-image option-btn" href="images/resource/products/image-4.jpg" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                        <a class="option-btn" href="shop-single.html"><span class="fa fa-shopping-cart"></span></a>
                                    </div>
                                </div>
                                <div class="lower-content">
                                    <h3><a href="shop-single.html">PRODUCT TITLE</a></h3>
                                    <div class="price"><span class="price-txt">$ 54.00</span></div>
                                    <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </section>
        </div>
    </div>
    
    
    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="auto-container">
        
            <!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	<!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget about-widget">
                                	<div class="footer-logo"><figure><a href="index.html"><img src="images/logo-3.png" alt=""></a></figure></div>
                                    <div class="widget-content">
                                    	<div class="text">
                                        	<p>Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override lickthroughs from DevOps.</p>
                                            <a href="#" class="more-link">Read More <span class="fa fa-angle-double-right"></span></a>
                                        </div>
                                        
                                        <div class="social-links">
                                        	<a href="#"><span class="fa fa-facebook-f"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-skype"></span></a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget links-widget">
                                	<h2>Our Projects</h2>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="#">Water Surve</a></li>
                                            <li><a href="#">Education for all</a></li>
                                            <li><a href="#">Treatment</a></li>
                                            <li><a href="#">Food Serving</a></li>
                                            <li><a href="#">Cloth</a></li>
                                            <li><a href="#">Selter Project</a></li>
                                            <li><a href="#">Help Orphan</a></li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Big Column-->
                	<div class="big-column col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget posts-widget">
                                	<h2>Latest News</h2>
                                    <div class="widget-content">
                                    	<div class="posts">
                                            <div class="post">
                                                <figure class="post-thumb"><img src="images/resource/post-thumb-1.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure>
                                                <div class="desc-text"><a href="#">Education for all childrens</a></div>
                                                <div class="time">May 25, 2016</div>
                                            </div>
                                            <div class="post">
                                                <figure class="post-thumb"><img src="images/resource/post-thumb-2.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure>
                                                <div class="desc-text"><a href="#">Homes for homeless peoples</a></div>
                                                <div class="time">May 25, 2016</div>
                                            </div>
                                            <div class="post">
                                                <figure class="post-thumb"><img src="images/resource/post-thumb-3.jpg" alt=""><a href="#" class="overlay-link"><span class="fa fa-link"></span></a></figure>
                                                <div class="desc-text"><a href="#">Foods for childrens</a></div>
                                                <div class="time">May 25, 2016</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                        	<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            	<div class="footer-widget contact-widget">
                                	<h2>Contact Us</h2>
                                    <div class="widget-content">
                                    	<ul class="contact-info">
                                            <li>P6 12th Street, Olive Building <br>Newyork, USA</li>
                                            <li>+1 123 456 7890</li>
                                        	<li>mail@humanwelfare.com </li>
                                        </ul>
                                        
                                    	<!--Newsletter One-->
                                        <div class="newsletter-one">
                                        	<h4>Subscribe to our newsletter</h4>
                                            <form method="post" action="contact.html">
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" required placeholder="Your Email">
                                                    <button type="submit" class="theme-btn"><span class="fa fa-paper-plane"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                 </div>
             </div>
        
        </div>
        
        <!--Footer Bottom-->
         <div class="footer-bottom">
         	<div class="auto-container">
            	<div class="copyright-text">Copyright &copy; 2016. All Rights Reserved Human Welfare</div>
            </div>
        </div>
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-long-arrow-up"></span></div>


<script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>